backend/node_modules/.package-lock.json
backend/node_modules/.bin/acorn
backend/node_modules/
backend/.env
.mcp.json
passkeys
frontend/.firebase/hosting.cHVibGlj.cache
frontend/.firebase/hosting.ZGlzdA.cache
frontend/.firebase/hosting.ZGlzdC9jbGluaWMtZmxvdy1mcm9udGVuZC9icm93c2Vy.cache
